altgraph==0.17.4
anyio==4.4.0
certifi==2024.8.30
chardet==3.0.4
charset-normalizer==3.3.2
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
idna==2.10
packaging==24.1
pefile==2024.8.26
psutil==6.0.0
pyasn1==0.6.0
PyGetWindow==0.0.9
pyinstall==0.1.4
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
PyRect==0.2.0
PySimpleGUI==5.0.6
python-archive==0.2
python-dotenv==1.0.1
pywin32-ctypes==0.2.3
requests==2.31.0
rsa==4.9
setuptools==74.1.2
six==1.16.0
sniffio==1.3.1
urllib3==2.2.2